.list-group-item {
  color: black;
  border-left: 4px solid green;
  margin-bottom: 10px; 
}

.list-group-item i.fas.fa-grip-vertical {
  margin-right: 10px;
}

.list-group-item span {
  margin-left: 10px;
}

.list-group-item i.fas.fa-check-circle {
  margin-right: 5px;
  color: green;
}

.list-group-item i.fas.fa-ellipsis-v {
  color: black; 
  background-color: lightgray; 
}

.list-group {
  margin-top: 10px;
}
