.black-sidebar {
    background-color: #000;
    color: #fff;
    height: 100vh;
    padding: 10px; /* Reduce the padding to make the sidebar thinner */
    overflow-y: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 1px 0;
    padding: 10px 0; /* Increase the padding for the icons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link svg {
    font-size: 24px; /* Adjust the icon size to your preference */
}

.white-text {
    color: white;
}
