.courses {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    margin-right: 10px;
  }
  
  .hamburger-icon {
    color: red; /* Make the hamburger red */
  }
  
  .course-title {
    color: red; /* Make the text red */
    font-size: 1rem; /* Adjust the font size as needed */
  }
  
  .divider {
    border: 1px solid black; /* Use a regular black border for the divider */
    width: 100%; /* Make the divider span the entire width */
    margin-top: 10px; /* Adjust the margin as needed */
  }
  

  .course-navigation-block {
    display: block; /* Ensure it's a block-level element */
  }
  