.courses {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    margin-right: 10px;
  }
  
  .hamburger-icon {
    color: red; 
  }
  
  .course-title {
    color: red; 
  }
  
  .divider {
    border: 1px solid black; 
    width: 100%; 
    margin-top: 10px; 
  }
  
  .course-navigation-block {
    display: block; 
  }
  
  .custom-text-left {
    text-align: left;
  }

.breadcrumb-item.active {
  color: red !important;
}

