.editor-container {
  position: relative;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.published-icon {
  color: green;
  font-size: 24px;
  margin-right: 10px;
}

.published-text {
  color: green;
}

ellipsis-icon {
  color: #333;
  font-size: 24px;
  margin-left: 10px;
}